.status {
  max-width: 1062px;
  margin-left: auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #0A243F;
  margin-bottom: 37px;
}

.about__sett__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1450px) {
  .status {
    max-width: 955px;
  }
}
@media (max-width: 1400px) {
  .status {
    max-width: 975px;
  }
}
.status__left {
  display: flex;
  align-items: center;
}

.status__type {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #0F47C0;
}
.status__type img {
  margin-right: 2px;
}

.status__right {
  display: flex;
  align-items: center;
}
.status__right .form-switch {
  margin-left: 20px;
}

.form-check-label, .form-check-input {
  cursor: pointer;
}

.status__left .tooltips-wrap .tooltips {
  font-family: "Open Sans", sans-serif;
  width: 395px;
  bottom: calc(100% + 0px);
  left: auto;
  transform: translateX(30px);
  right: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 8px;
  letter-spacing: 0;
}
.status__left .tooltips-wrap .tooltips a {
  text-decoration: underline;
  color: #9ABDFF;
  font-weight: 700;
}
.status__left .tooltips-wrap .tooltips a:hover {
  opacity: 0.9;
}
.status__left .tooltips-wrap .tooltips:before {
  left: auto;
  right: 15px;
}
.status__left .tooltips-wrap .tooltips:after {
  content: "";
  left: 100%;
  position: absolute;
  height: 100%;
  width: 100px;
  display: block;
  top: 0;
}

@media (max-width: 1350px) {
  .status__left .tooltips-wrap .tooltips {
    right: auto;
    left: 0;
    width: 250px;
    transform: translate(0);
  }
  .status__left .tooltips-wrap .tooltips:before {
    left: 15px;
    right: auto;
  }
  .status__left .tooltips-wrap .tooltips:after {
    display: none;
  }
}
@media (max-width: 480px) {
  .status__left .tooltips-wrap .tooltips {
    right: 0;
    left: auto;
    top: 100%;
    bottom: auto;
    width: 250px;
  }
  .status__left .tooltips-wrap .tooltips:before {
    right: 15px;
    left: auto;
    bottom: auto;
    top: -8px;
  }
}
.form-switch {
  padding-left: 3em;
}
.form-switch .form-check-input {
  width: 2.5em;
  margin-left: -3em;
  margin-top: 0.15em;
}
.form-switch .form-check-input:checked {
  background-color: #0F47C0;
  border-color: #0F47C0;
}
.form-switch .form-check-input {
  height: 1.4em;
}

@media (max-width: 991px) {
  .status {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .status {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .status__left {
    margin-bottom: 20px;
  }
}
@media (max-width: 374px) {
  .status__right {
    flex-direction: column;
  }

  .status__right .form-switch {
    margin-top: 15px;
    margin-left: 0;
  }
}
.exp-content {
  display: flex;
}

.exp-content__sidebar {
  flex: 0 0 290px;
  margin-right: 20px;
}

.exp-content__edit {
  flex: 1;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.sidebar__img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  overflow: hidden;
  border: 6px solid #FFFFFF;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s all;
  margin-bottom: 24px;
}

.sidebar__img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.sidebar {
  margin-top: 42px;
}

.sidebar__name {
  margin-bottom: 92px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 230px;
}

.sidebar__nav ul {
  margin: 0;
  padding: 0;
}

.sidebar__nav li {
  list-style: none;
  margin: 0;
  margin-bottom: 8px;
}

.sidebar__nav li span {
  color: #092C9E;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.sidebar__nav a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #AFACB9;
}

.sidebar__nav a:hover {
  text-decoration: underline;
}

.sidebar__nav .sidebar__nav__menu1 {
  padding-bottom: 8px;
  border-bottom: 1px solid #AFACB9;
  max-width: 205px;
  margin-bottom: 26px;
}

.sidebar__nav li.active a {
  color: #092C9E;
  display: flex;
}
.sidebar__nav li.active a svg {
  margin-left: 8px;
}

.exp-content__top {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #F4F7FF;
  padding: 12px 27px;
  border-radius: 10px 10px 0 0;
  background: #0F47C0;
  margin-bottom: 12px;
}

.exp__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 16px;
  padding-top: 32px;
  background-size: cover;
  margin-bottom: 7px;
}

.exp__about__img {
  width: 158px;
  height: 158px;
  border: 6px solid #FFFFFF;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
}

.btn-primary {
  background-color: #0F47C0;
  border-color: #0F47C0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: #092c9e;
  border-color: #092c9e;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  border-radius: 20px;
  padding: 0.45rem 1.4rem;
  font-weight: bold;
}

.about__sett {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 22px;
  margin-bottom: 22px;
}

.about__sett__left {
  display: flex;
  align-items: center;
}

.custom-select {
  font-family: inherit;
}

.about__sett__color {
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  padding: 5px 1px;
  color: #FFFFFF;
  border-radius: 2px;
  margin-right: 4px;
}

.about__sett__right {
  width: 250px;
}

.select-selected {
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #8B90A0;
  padding: 11px 16px;
  padding-right: 40px;
}

.select-selected:after {
  border-color: #A1A4B1 transparent transparent transparent;
  top: 21px;
  right: 23px;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #A1A4B1 transparent;
  top: 16px;
}

.select-selected.select-arrow-active {
  border: 1px solid #2B5CFB;
  box-sizing: border-box;
  /* Shadow/Level1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0px 0px;
  color: rgba(0, 0, 0, 0.8);
}

.select-items {
  border: 1px solid #2B5CFB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.select-items div {
  font-size: 14px;
  line-height: 24px;
  color: #8B90A0;
}

.select-items div:hover, .select-items .same-as-selected {
  color: #092C9E;
}

.select-items div:hover {
  background-color: #fff;
}

.select-items div:hover, .same-as-selected {
  background-color: #f5fafd;
}

.select-items .same-as-selected:hover {
  background-color: #f5fafd;
}

.about__sett__left .select-selected {
  border: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.8);
}
.about__sett__left .select-selected:after {
  position: initial;
  display: inline-block;
  border: 0;
  border-color: transparent;
  border-bottom: 1.5px solid #000;
  border-right: 1.5px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-5px);
  margin-left: 3px;
}

h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #0A243F;
}

.exp-content__title {
  padding-left: 25px;
  border-bottom: 1px solid #A1A4B1;
}

.exp-content__wrap {
  padding-left: 25px;
  max-width: 736px;
  padding-top: 16px;
  margin-bottom: 53px;
}

.exp-content__wrap--big {
  max-width: 954px;
}

.exp-content__row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.exp-content__row:last-child {
  margin-bottom: 0;
}

.exp-content__row__left {
  flex: 0 0 240px;
  padding-top: 5px;
  padding-right: 15px;
}

.label {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0A243F;
}
.label span {
  color: var(--color-red);
}

.input {
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 20px;
  height: 40px;
  padding: 8px 14px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 24px;
  color: #18171C;
}

.input.input--custom-radius {
  border-radius: 10px;
  margin-bottom: 15px;
}

.input::-moz-placeholder {
  color: #AFACB9;
}

.input:-ms-input-placeholder {
  color: #AFACB9;
}

.input::placeholder {
  color: #AFACB9;
}

.input.error {
  border: 2px solid #F2A60D;
  color: #F2A60D;
}

.error-text {
  color: #F2A60D;
  font-size: 14px;
  line-height: 20px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.exp-content__row__right {
  flex: 1;
}
.exp-content__row__right .btn {
  margin-top: 20px;
}

.exp-link {
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #A1A4B1;
  display: inline-block;
  margin-bottom: 5px;
  word-wrap: break-word;
}

@media (max-width: 576px) {
  .exp-link {
    font-size: 10px;
  }
}
.form-check__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-check--check {
  margin-bottom: 15px;
  margin-top: 10px;
  margin-right: 59px;
}
.form-check--check .form-check-input {
  border: 2px solid #C3CBCD;
  width: 1.4em;
  height: 1.4em;
  margin-top: 0.1em;
}
.form-check--check .form-check-label {
  font-size: 15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 5px;
}
.form-check--check .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%230F47C0'/></svg>");
}
.form-check--check .form-check-input:checked {
  background-color: #fff;
  background-size: 120%;
  border: 2px solid var(--color-blue);
}

.form-check--check:last-child {
  margin-right: 0;
}

.textarea {
  margin-bottom: 15px;
}
.textarea textarea {
  min-height: 100px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 10px;
  padding: 8px 14px;
  display: block;
  max-height: 300px;
}
.textarea .textarea__maxlength {
  font-size: 12px;
  line-height: 18px;
  color: #A1A4B1;
  margin-top: 5px;
}
.textarea textarea::-moz-placeholder {
  color: #AFACB9;
}
.textarea textarea:-ms-input-placeholder {
  color: #AFACB9;
}
.textarea textarea::placeholder {
  color: #AFACB9;
}

.textarea--big textarea {
  min-height: 125px;
}

::-webkit-resizer {
  width: 10px;
  height: 10px;
  background-image: url("../img/about/textarea-resize.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: left top;
}

.from-to {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0A243F;
}
.from-to .from-to__line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.from-to .from-to__col1 {
  flex: 0 0 25px;
}
.from-to .from-to__col2 {
  flex: 0 0 170px;
  margin-right: 8px;
}

@media (max-width: 1400px) {
  .exp-content__sidebar {
    margin-right: 25px;
  }
}
@media (max-width: 991px) {
  .exp-content__sidebar {
    flex: 0 0 200px;
  }

  .sidebar__img {
    width: 200px;
    height: 200px;
  }

  .exp-content__top {
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 15px;
  }

  .about__sett {
    flex-direction: column;
    padding-left: 0px;
  }

  .sidebar__nav a {
    font-size: 14px;
    line-height: 20px;
  }

  .sidebar__name {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 50px;
  }

  .sidebar {
    margin-top: 20px;
  }

  .about__sett__left {
    margin-bottom: 15px;
  }

  .exp-content__row {
    flex-direction: column;
  }

  .exp-content__row__left {
    flex: auto;
    margin-bottom: 10px;
  }

  .exp-content__row__right {
    width: 100%;
  }

  .exp-content__wrap {
    padding-left: 0;
  }

  .exp-content__title {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .exp-content__edit {
    width: 100%;
  }

  .exp-content {
    flex-direction: column;
  }

  .exp-content__sidebar {
    flex: auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
  }

  .sidebar__top {
    margin-right: 25px;
    max-width: 150px;
  }

  .sidebar__img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }

  .sidebar__name {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .sidebar__nav .sidebar__nav__menu1 {
    margin-bottom: 15px;
    max-width: initial;
  }

  h3 {
    font-size: 24px;
    line-height: 1.4;
  }
}
@media (max-width: 480px) {
  .sidebar {
    flex-direction: column;
  }

  .sidebar__top {
    width: 100%;
    max-width: initial;
    margin-bottom: 25px;
  }

  .sidebar__img {
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar__name {
    text-align: center;
  }

  .sidebar__nav li {
    margin-bottom: 5px;
  }

  .exp-content__row__left {
    margin-bottom: 5px;
  }

  .about__sett__left .select-selected {
    font-size: 16px;
    line-height: 28px;
  }
}
.exp-content__margin {
  margin-top: 94px;
  margin-bottom: 94px;
}

.exp-content__row--phone {
  margin-bottom: 44px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .exp-content__margin {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .exp-content__row--phone {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
@media (min-width: 768px) {
  .person__nav__onlymb {
    display: none;
  }
}
.custom-select--about {
  position: relative;
}

.select-items--about div, .select-selected--about {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-selected--about {
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #8B90A0;
  padding: 11px 16px;
  padding-right: 40px;
}

.select-selected--about:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected--about:after {
  border-color: #A1A4B1 transparent transparent transparent;
  top: 21px;
  right: 23px;
}

.select-hide--about {
  display: none;
}

.select-items--about {
  border: 1px solid #2B5CFB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.select-selected--about.select-arrow-active {
  border: 1px solid #2B5CFB;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0px 0px;
  color: rgba(0, 0, 0, 0.8);
}

.select-items--about {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items--about div:hover {
  background-color: #f5fafd;
}

.select-items--about div {
  background-color: #fff;
}

.select-items--about div:hover, .select-items--about .same-as-selected {
  color: #092C9E;
}

.select-items--about div {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items--about div {
  font-size: 14px;
  line-height: 24px;
  color: #8B90A0;
}

.exp-modal__addProect__text1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.exp-modal__addProect__text2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.shablon-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.shablon-flex__item {
  margin: 0 25px;
  width: calc(33.3333333333% - 50px);
  cursor: pointer;
  margin-bottom: 25px;
}
.shablon-flex__item input {
  display: none;
}
.shablon-flex__item input + .shablon-flex__item__inner {
  border: 1px solid #A1A4B1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 25%;
}
.shablon-flex__item input:checked + .shablon-flex__item__inner {
  border: 1px solid #0F47C0;
  box-shadow: 0 0 5px rgba(15, 71, 192, 0.2);
}

.shablon-flex__item:hover input + .shablon-flex__item__inner {
  border: 1px solid #0F47C0;
  box-shadow: 0 0 5px rgba(15, 71, 192, 0.2);
}

@media (max-width: 991px) {
  .shablon-flex__item {
    width: calc(50% - 50px);
  }
}
@media (max-width: 549px) {
  .shablon-flex__item {
    width: calc(100% - 50px);
  }
}
.deleteModal__checkboxes {
  padding: 15px;
  background: #F1F6FA;
  margin-bottom: 25px;
}
.deleteModal__checkboxes .form-check {
  font-size: 16px;
  margin-bottom: 0.3rem;
}

#form-check-input__another {
  display: none;
  max-width: 700px;
  margin-bottom: 15px;
}

.deleteModal2__wrap {
  padding: 25px;
  background: #F1F6FA;
  margin-bottom: 25px;
}

.deleteModal2__wrap2 {
  max-width: 400px;
}

.expirience-blocks-lang-new {
  display: flex;
  flex-direction: column;
}

.expirience-blocks-new {
  display: flex;
  flex-direction: column;
}

.block-for-remove {
  display: none;
  order: 2;
}
.block-for-remove .btn {
  margin-top: 0;
}

.not-empty .block-for-remove {
  display: flex;
}

.form-select {
  background-color: #FFFFFF;
  border: 1px solid #A1A4B1;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #8B90A0;
  padding: 11px 16px;
  padding-right: 40px;
  position: relative;
  background-image: url("../img/about/select-img.svg");
  background-size: 12px;
  cursor: pointer;
}

.form-select:focus {
  outline: 1px solid #000;
  box-shadow: none;
}

.form-select.form-select--mini {
  padding: 7px 16px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=about.css.map */
