.js-selectize--mini-input .selectize-control.single .selectize-input {
  background-image: none !important;
  padding-left: 15px;
  height: 40px;
  border: 1px solid #A1A4B1;
  box-shadow: none;
}

.exp-modal__file {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.exp-modal__file .text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #001828;
}
.exp-modal__file svg {
  max-width: 100%;
}
.exp-modal__file .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.exp-modal__file .text-edit {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #18A0FB;
  margin-left: 45px;
}
.exp-modal__file .text2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  max-width: 325px;
  margin: 0 auto;
}
.exp-modal__file .text2 span {
  font-weight: bold;
  margin: 15px 0;
  display: block;
}
.exp-modal__file .img {
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.exp-modal__file .upload-input {
  display: none;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.exp-modal__file {
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.1s all;
}

.exp-modal__file:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(15, 71, 192, 0.5);
}

.exp-modal-pic .exp-modal__addProect {
  padding-top: 30px;
}

.exp-modal__file.upload {
  display: block;
}
.exp-modal__file.upload svg {
  display: none;
}
.exp-modal__file.upload .img {
  display: block;
}
.exp-modal__file.upload .upload-input {
  display: block;
}
.exp-modal__file.upload .text-edit {
  display: block;
}
.exp-modal__file.upload .text2 {
  display: none;
}

#yourId {
  width: 200px;
  height: 150px;
  position: relative;
  /* or fixed or absolute */
}

.exp-modal__file .upload-input {
  max-height: 350px;
  max-width: 100%;
}

.croppie-container .cr-slider-wrap {
  position: relative;
  z-index: 5;
}

.croppie-container .cr-boundary {
  max-width: 100%;
}

.cr-slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.yellow-error {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F2A60D;
}

.formpic__wrap {
  max-width: 764px;
}

.formpic__wrap__skills {
  background: #FFFFFF;
  border: 1px solid #D7D6DC;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  margin-top: 15px;
}

input.yellow-error-input {
  border: 2px solid #F2A60D;
}

input.yellow-error-input::-moz-placeholder {
  color: #F2A60D;
}

input.yellow-error-input:-ms-input-placeholder {
  color: #F2A60D;
}

input.yellow-error-input::placeholder {
  color: #F2A60D;
}

@media (max-width: 767px) {
  .exp-modal-footer .upload-wrap__btns {
    justify-content: flex-start;
  }
}
.period {
  display: flex;
  flex-wrap: wrap;
}
.period .period-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.period .period-wrap .custom-select {
  width: 150px;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: 500;
}
.period .period-wrap .form-select {
  width: 150px;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: 500;
}

.period--langs .period-wrap .custom-select, .period--langs .period-wrap .form-select {
  margin-left: 0;
}

.expirience-blocks-new .expirience-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.expirience-blocks-lang-new .expirience-block {
  margin-top: 25px;
  margin-bottom: 25px;
}

.exp-modal__addProect.exp-modal__addProect--about {
  padding-bottom: 0px;
}
/*# sourceMappingURL=customs.css.map */
